%flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%padding-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
%padding-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
