.section-footers {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  text-align: center;
  background-color: $black-bgc;
  display: flex;
  text-align: inherit;
  align-items: baseline;
  justify-content: space-between;
  @media screen and (min-width: $desctop) {
    display: flex;
    text-align: inherit;
    align-items: baseline;
    justify-content: space-between;
  }
}
.footers-tablet {
  text-align: center;
  align-items: baseline;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    text-align: center;
  }
  @media screen and (min-width: $desctop) {
    text-align: inherit;
  }
}
.footer_desktop {
  @media screen and (min-width: $desctop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.contacts-list .item {
  display: block;
  font-weight: $font-weight-body;
  font-style: normal;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &:not(:last-child) {
    @media screen and (min-width: $desctop) {
      margin-bottom: 9px;
    }
  }
}
.contacts-list .maps {
  color: $white-button-color;
}
.contacts-list a {
  color: $contacts-list-color;
}
.adress {
  flex-direction: column;
  @media screen and (max-width: $max-tablet) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    padding-left: 76px;
  }
}
.sign {
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 102px;
    margin-left: 165px;
  }
  @media screen and (min-width: $desctop) {
    margin-left: 70px;
  }
}
.sign-title {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  @include title-h3;
}
.sign .icon {
  fill: $primary-white-color;
}
.soc-list li:not(:last-child) {
  margin-right: 10px;
}
.subscribe {
  text-align: center;
  @media screen and (min-width: $desctop) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 93px;
    text-align: inherit;
  }
}
.subscribe-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: block;
  font-weight: $font-weight-bold;
  @include title-h3;
}
.form-footer {
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    display: block;
    text-align: -webkit-center;
  }
  @media screen and (min-width: $desctop) {
    display: inline-flex;
    max-width: 570px;
  }
}
.footer-input {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 450px;
  min-height: 50px;
  color: $contacts-list-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  &::placeholder {
    font-family: $font-family-body;
    font-style: normal;
    font-weight: $font-weight-body;
    font-size: $font-size-btn;
    line-height: 1.25;
    @extend %flex-row;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    display: block;
  }
  @media screen and (min-width: $desctop) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.subscribe .btn {
  @include btn;
  padding-right: 13px;
  padding-left: 28px;
  display: inline-flex;
}
.subscribe .send {
  margin-left: 10px;
}
