.page-header {
  position: relative;
  min-height: 60px;

  @media screen and (min-width: $tablet) {
    height: 80px;
  }
}
.main-nav {
  font-weight: 500;
  font-size: $font-size-body;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: $white-button-color;
  border-bottom: 1px solid $border-header-color;
  @media screen and (max-width: $max-mobile) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
  }
  @media screen and (min-width: $tablet) {
    position: relative;
    max-width: 100%;
    height: inherit;
  }
}
/* Site-nav */
.nav-title {
  width: 100%;
  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
.site-nav {
  margin-left: auto;
  @media screen and (max-width: $max-mobile) {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
}
.site-nav .item:not(:last-child) {
  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
  @media screen and (max-width: $max-mobile) {
    margin-bottom: 40px;
  }
}
.site-nav .link {
  position: relative;
  color: $primary-text-color;
  transition: color 250ms $transition-timing-function;
  @media screen and (min-width: $tablet) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &.current {
    color: $accent-button-color;
    transition: color 250ms $transition-timing-function;
  }
  &:hover,
  &:focus {
    color: $accent-button-color;
  }
  &.current::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -8px;
    border-radius: 2px;
    border-bottom: 4px solid $accent-button-color;
    @media screen and (min-width: $tablet) {
      bottom: 0;
    }
  }
}
.address-nav {
  @media screen and (max-width: $max-tablet) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: $tablet) {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-bottom: 21px;
    padding-top: 21px;
    height: 80px;
  }
}
.address-nav .link {
  color: $title-text-color;
  transition: color 250ms $transition-timing-function;
  &:hover,
  &:focus {
    color: $accent-button-color;
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: $desctop) {
    @include flex-row(center);
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: $font-size-body;
  }
}
.auth-nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: $max-mobile) {
    flex-direction: column;
    .item:first-child {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    flex-direction: column;
    align-items: flex-start;
    .item:last-child {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: $desctop) {
    .item:last-child {
      margin-left: 30px;
    }
  }
}
.auth-nav .mailto {
  width: 16px;
  height: 12px;
}
.auth-nav .tel {
  width: 10px;
  height: 16px;
}
.icon-nav {
  margin-right: 10px;
  fill: currentColor;
}
