.page-header {
  position: fixed;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 60px;
  z-index: 1;
  font-weight: 500;
  font-size: $font-size-body;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: $white-button-color;
  border-bottom: 1px solid $border-header-color;
  @media screen and (min-width: 768px) {
    max-height: 80px;
  }
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Site-nav */
.nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 88px;
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: 305px;
  }
}
.site-nav .item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
}
.site-nav .link {
  position: relative;
  color: $primary-text-color;
  transition: color 250ms $transition-timing-function;
  &.current {
    color: $accent-button-color;
    transition: color 250ms $transition-timing-function;
    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &:hover,
  &:focus {
    color: $accent-button-color;
  }
  &.current::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -8px;
    border-radius: 2px;
    border-bottom: 4px solid $accent-button-color;
    @media screen and (min-width: 768px) {
      bottom: 0;
    }
  }
}
.address-nav {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-bottom: 21px;
    padding-top: 21px;
  }
}
.address-nav .link {
  color: $title-text-color;
  transition: color 250ms $transition-timing-function;
  &:hover,
  &:focus {
    color: $accent-button-color;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px) {
    @include flex-row(center);
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: $font-size-body;
  }
}
.auth-nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    .item:first-child {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
    .item:last-child {
      margin-top: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    .item:last-child {
      margin-left: 30px;
    }
    
  }
}
.auth-nav .mailto {
  width: 16px;
  height: 12px;
}
.auth-nav .tel {
  width: 10px;
  height: 16px;
}
.icon-nav {
  margin-right: 10px;
  fill: currentColor;
}
