.section-workers {
  background-color: $secondary-white-color;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.workers-title {
  @include mob-title-h2;
  @media screen and (min-width: $desctop) {
    @include title-h2;
  }
}
.workers-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.workers-list .item {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
   @media screen and (min-width: $mobile) {
      width: 450px;
    }
  &:not(:last-child) {
    @media screen and (max-width: $max-mobile) {
      margin-bottom: 30px;
    }
  }
  &:nth-child(2n + 1) {
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
      margin-right: 30px;
    }
  }
  &:nth-child(-n + 2) {
    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
      margin-bottom: 30px;
    }
  }
  &:not(:last-child) {
    @media screen and (min-width: $desctop) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    width: 354px;
  }
  @media screen and (min-width: $desctop) {
    width: 270px;
  }
}
.name-workers {
  margin-top: 0px;
  margin-bottom: 10px;
  color: $primary-text-color;
  font-weight: 500;
  font-size: $font-size-btn;
  line-height: 1.19;
  text-align: center;
}
.workers p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: $font-size-btn;
  line-height: 1.19;
  font-weight: $font-weight-body;
  text-align: center;
}
.description-worker {
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  background-color: $primary-white-color;
}
.description-worker .soc-list {
  @include flex-row(center);
}
.soc-icon {
  width: 44px;
  height: 44px;
  @include flex-row(center);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  color: $icon-color;
  transition: color 250ms transition-timing-function,
    background-color 250ms transition-timing-function;
  &:hover,
  &:focus {
    color: $white-button-color;
    background-color: $accent-button-color;
  }
}
.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
